/* singleCountry.css */

/* Ensure the flag image fills the column fully */
.country-flag {
    width: 100%;  /* Make the image span 100% of the column width */
    height: auto; /* Maintain the aspect ratio */
}

/* Optional: Center the text in the left column */
.text-center {
    text-align: center;
}

.flag-desc {
    color: grey;
}

.location-card {
    background-color: rgb(6, 64, 43);
}

.location-card .text-col {
    color: rgb(235, 235, 235);
}

/* Add any additional styles as needed */
